

dialog {
    width: 400px;
    margin: 10rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

